<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      th:replace="~{layout/base :: layout(~{::title}, ~{::section})}">
<head>
  <title th:text="#{error.403.title}">Access denied</title>
</head>
<section class="bg-black text-light px-3 py-5 d-flex align-items-center justify-content-center">
  <div class="container text-center">
    <img class="img-fluid mb-4"
         th:src="@{/resources/images/403.png}" src="/resources/images/403.png"
         alt="403 artwork" style="max-width: 520px;" />
  </div>
</section>
</html>
